﻿.button-full{
    width: 100%;
    margin: 3px;
}
.login-form{
    background:url('../img/login-bg.png') no-repeat center center fixed;
    background-size: cover
}
.container-login{
   margin: auto;
   width: 90% !important;
}
#check-out{
    display: none;
}
#container-login{
    display: none;
}
.logo-login,#logo-main{
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
.logo-lite{
    position: relative;
    top :-200px;
    left: +150px;
}
#location{
    display: none;
    text-align: center;
    font-weight: 800;
}
#image-preview{
    width: 250px;
    height: 250px;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    display: none;
    background: #000000;
    border-radius: 125px;
    margin: auto;
    border: 5px solid #ae0303;
}
.flex{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}
#login-as{
    text-align: center;
    font-weight: 800;
    font-size: 14px;
}
#username-text{
    font-weight: bold;
}
#location{
    margin-top: 5px;
}